---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import VideoEmbed from "../../components/VideoEmbed.astro";

const videos = [
	{ videoId: "https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fgeorge.kigio%2Fvideos%2F10222706286828869%2F&show_text=false&t=0" },    
    { videoId: "https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fgeorge.kigio%2Fvideos%2F10222336052373239%2F&show_text=false&t=0"},	
];
---
<!doctype html>
<html lang="en">
    <head>
        <BaseHead />
        <style></style>
    </head>
    <body>
        <Header />
        <main>
            <section class="videos-section">
                {
                    videos.map((video) => (
                        <VideoEmbed
                            key={video.videoId}
                            videoId={video.videoId}
                        />
                    ))
                }
            </section>
        </main>
        <Footer />
    </body>
</html>