---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("March 04 2024")}
	heroImage="/about.jpg"
>
	<p>
		I work at Mantles Empowerment Network, where I hold the position of
		Corporate Institutional Trainer, Empowerment Coach, Transformational
		Speaker, and Author since August 4, 2020. My educational background
		includes attending Harvest Time Bible College and Kahuguini Secondary
		School. I am currently located in Nairobi, Kenya.
	</p>
</Layout>
