---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer class="footer">
	<SocialLinks className="social-links-footer"/>
	<div class="copy-right">
		&copy; {today.getFullYear()} by <a href="https://tevingatheru.github.io/Tevin-Gathemia-Gatheru/" target="_blank">Tevin Gatheru</a>. All rights reserved.	
	</div>
</footer>

<style>
	footer {
		padding: 2em 1em 6em 1em;
		background-color: var(--primary);
		color: white;
		text-align: center;
		align-items: center;
	}
	a {
		color: white;
		text-decoration: underline;
	}

	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: white;
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	.copy-right {
		margin-top: 10px;
	}
</style>
